version: "3.9"

services:
  service_users:
    build: ./service_users
    container_name: service_users
    ports:
      - "5001:5000"

  service_orders:
    build: ./service_orders
    container_name: service_orders
    ports:
      - "5002:5000"

  gateway:
    build: ./gateway
    container_name: gateway
    ports:
      - "8000:8000"
    depends_on:
      - service_users
      - service_orders
